<%- include('includes/document/head.ejs') %>
<title>404</title>
<meta name="description" content="Firstname Lastname - consectetur adipiscing elit">
</head>
<body>
<%- include('includes/layout/header.ejs') %>
<main class="box">
  <h2>404</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.</p>
</main>
<%- include('includes/document/end.ejs') %>