  <%- include('includes/document/head.ejs') %>
  <title>Home</title>
  <meta name="description" content="Firstname Lastname - consectetur adipiscing elit">
</head>
<body>
  <%- include('includes/layout/header.ejs') %>
  <main>
    <div class="grid-intro gb-h ia-be dba">
      <hgroup class="box">
        <h1 class="ff-g fs-eb fw-500">Nazar Lynovetsky</h1>
        <p class="h6">Portfolio</p>
      </hgroup>
      <div class="box">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat duis auteri.</p>
        <p class="mbs-p">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.</p>
      </div>
      <figure id="scene" class="box gb-v ib-is dbb-ft">
        <img
          src="/images/desktop-3x.webp"
          srcset="
            /images/mobile-1x.webp 360w,
            /images/mobile-2x.webp 720w,
            /images/mobile-3x.webp 1080w,
            /images/tablet-1x.webp 495w,
            /images/tablet-2x.webp 990w,
            /images/tablet-3x.webp 1485w,
            /images/laptop-1x.webp 835w,
            /images/laptop-2x.webp 1670w,
            /images/laptop-3x.webp 2505w,
            /images/desktop-1x.webp 1024w,
            /images/desktop-2x.webp 2048w,
            /images/desktop-3x.webp 3072w"
          sizes="
            (max-width: 599px) 360px,
            (min-width: 600px) and (max-width: 1023px) 495px,
            (min-width: 1024px) and (max-width: 1599px) 835px,
            (min-width: 1600px) 1024px"
          alt="Lorem ipsum dolor sit amet, consectetur adipisicing elit"
        >
        <figcaption id="scene-name">Nazar Lynovetsky</figcaption>
      </figure>
    </div>
    <section style="margin-block-end: 50px">
      <header class="header gb-h ia-be dba p1-b">
        <h2 class="box-small gb-v gb-shift-ie ib-ie dbb">Works</h2>
      </header>
      <div class="grid-latest gb-h ia-be dba">
        <article class="work-card-big gb-h ia-be dba">
          <header class="box gb-h ia-be dba-bt gb-v ib-is dbb-ft">
            <h3>Arlington Foam</h3>
          </header>
          <div class="box">
            <ul class="columnar-list fs-s">
              <li>Animation Effects</li>
              <li>SEO Optimization</li>
              <li>JavaScript Development</li>
              <li>API Integration</li>
              <li>PHP Template Creation</li>
              <li>Performance Optimization</li>
            </ul>
          </div>
          <footer class="box gb-h ia-bs dba-ft gb-v ib-is dbb-ft">
            <a class="button" href="/">Visit Site</a>
          </footer>
          <div class="gb-h ia-bs dba-ft p1-b" role="presentation"></div>
        </article>
        <article class="work-card gb-h ia-be dba-bt gb-v ib-is dbb-fmw-bt">
          <header class="box gb-h ia-be dba">
            <h3>Saint Maria Roofing</h3>
          </header>
          <div class="box">
            <ul class="columnar-list fs-s">
              <li>Animation Effects</li>
              <li>SEO Optimization</li>
              <li>JavaScript Development</li>
              <li>API Integration</li>
              <li>PHP Template Creation</li>
              <li>Performance Optimization</li>
            </ul>
          </div>
          <footer class="box">
            <a class="button" href="/">Visit Site</a>
          </footer>
        </article>
        <article class="work-card gb-h ia-be dba-bmw gb-v ib-is dbb-ft">
          <header class="box gb-h ia-be dba">
            <h3>IRCS</h3>
          </header>
          <div class="box">
            <ul class="columnar-list fs-s">
              <li>Animation Effects</li>
              <li>SEO Optimization</li>
              <li>JavaScript Development</li>
              <li>API Integration</li>
              <li>PHP Template Creation</li>
              <li>Performance Optimization</li>
            </ul>
          </div>
          <footer class="box">
            <a class="button" href="/">Visit Site</a>
          </footer>
        </article>
        <footer class="box gb-v ib-is dbb-fmw p1-a">
          <a class="button" href="/">See More Works</a>
        </footer>
      </div>
    </section>
  </main>
  <script type="module" src="/scripts/components/scene.mjs"></script>
  <%- include('includes/document/end.ejs') %>