  <%- include('includes/document/head.ejs') %>
  <title>Home</title>
</head>
<body>
  <%- include('includes/layout/header.ejs') %>
  <div class="g-intro">
    <hgroup class="g__item">
      <h1>Firstname Lastname</h1>
      <p>Portfolio</p>
    </hgroup>
    <div class="g__item">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat duis auteri.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.</p>
    </div>
    <div class="g__item">
      <p>Scene</p>
    </div>
  </div>
  <section>
    <h2>Works</h2>
  </section>
  <%- include('includes/document/end.ejs') %>