  <%- include('includes/document/head.ejs') %>
  <title>Home</title>
  <meta name="description" content="Firstname Lastname - consectetur adipiscing elit">
</head>
<body>
  <%- include('includes/layout/header.ejs') %>
  <main>
    <div class="grid-introduction gb-h ia-be dba">
      <hgroup class="box">
        <h1 class="fs-b fw-500">Lorem ipsum</h1>
        <p class="h6">Consectetur</p>
      </hgroup>
      <div class="box d-f fd-c jc-fe">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat duis auteri.</p>
        <p class="mbs-p">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.</p>
      </div>
      <figure id="scene" class="box gb-v ib-is dbb-ft">
        <img
          src="/images/desktop-3x.webp"
          srcset="
            /images/mobile-1x.webp 360w,
            /images/mobile-2x.webp 720w,
            /images/mobile-3x.webp 1080w,
            /images/tablet-1x.webp 495w,
            /images/tablet-2x.webp 990w,
            /images/tablet-3x.webp 1485w,
            /images/laptop-1x.webp 835w,
            /images/laptop-2x.webp 1670w,
            /images/laptop-3x.webp 2505w,
            /images/desktop-1x.webp 1024w,
            /images/desktop-2x.webp 2048w,
            /images/desktop-3x.webp 3072w"
          sizes="
            (max-width: 819px) 360px,
            (min-width: 820px) and (max-width: 1023px) 495px,
            (min-width: 1024px) and (max-width: 1599px) 835px,
            (min-width: 1600px) 1024px"
          alt="Lorem ipsum dolor sit amet, consectetur adipisicing elit"
        >
        <figcaption>Nazar Lynovetsky</figcaption>
      </figure>
    </div>
    <section>
      <h2 class="box gb-h ia-be dba">Works</h2>
    </section>
  </main>
  <%- include('includes/document/end.ejs') %>