  <%- include('includes/document/head.ejs') %>
  <title>Home</title>
  <meta name="description" content="Firstname Lastname - consectetur adipiscing elit">
</head>
<body>
  <%- include('includes/layout/header.ejs') %>
  <main>
    <div class="grid-introduction gb-h ia-be dba">
      <hgroup class="box">
        <h1 class="fs-b fw-500">Firstname Lastname</h1>
        <p class="h6">Portfolio</p>
      </hgroup>
      <div class="box">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat duis auteri.</p>
        <p class="mbs-p">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.</p>
      </div>
      <figure class="box gb-v ib-is dbb-ft">
        <picture>
          <source media="(max-width:1249px)" srcset="/images/name-s.webp">
          <source media="(max-width:1600px)" srcset="/images/name-m.webp">
          <img src="/images/name.webp" alt="Firstname Lastname sits at a table in his home office">
        </picture>
        <figcaption>Firstname Lastname</figcaption>
      </figure>
    </div>
    <section class="box">
      <h1>h1 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti temporibus in perferendis nihil dolor consequuntur.</h1>
      <p class="mbs-p">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti temporibus in perferendis nihil dolor consequuntur explicabo ut sint officiis neque! Deleniti cum ducimus itaque distinctio in laboriosam odio, eos ad.</p>
      <h2 class="mbs-p">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti temporibus in perferendis nihil dolor consequuntur.</h2>
      <p class="mbs-p">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti temporibus in perferendis nihil dolor consequuntur explicabo ut sint officiis neque! Deleniti cum ducimus itaque distinctio in laboriosam odio, eos ad.</p>
      <h3 class="mbs-p">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti temporibus in perferendis nihil dolor consequuntur.</h3>
      <p class="mbs-p">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti temporibus in perferendis nihil dolor consequuntur explicabo ut sint officiis neque! Deleniti cum ducimus itaque distinctio in laboriosam odio, eos ad.</p>
      <h4 class="mbs-p">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti temporibus in perferendis nihil dolor consequuntur.</h4>
      <p class="mbs-p">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti temporibus in perferendis nihil dolor consequuntur explicabo ut sint officiis neque! Deleniti cum ducimus itaque distinctio in laboriosam odio, eos ad.</p>
      <h5 class="mbs-p">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti temporibus in perferendis nihil dolor consequuntur.</h5>
      <p class="mbs-p">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti temporibus in perferendis nihil dolor consequuntur explicabo ut sint officiis neque! Deleniti cum ducimus itaque distinctio in laboriosam odio, eos ad.</p>
      <h6 class="mbs-p">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti temporibus in perferendis nihil dolor consequuntur.</h6>
      <p class="mbs-p">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti temporibus in perferendis nihil dolor consequuntur explicabo ut sint officiis neque! Deleniti cum ducimus itaque distinctio in laboriosam odio, eos ad.</p>
    </section>
  </main>
  <%- include('includes/document/end.ejs') %>