  <%- include('includes/document/head.ejs') %>
  <title>Home</title>
  <meta name="description" content="Firstname Lastname - consectetur adipiscing elit">
</head>
<body>
  <%- include('includes/layout/header.ejs') %>
  <main>
    <div class="grid-introduction gb-h ia-be dba">
      <hgroup class="box">
        <h1 class="fs-b fw-500">Lorem ipsum</h1>
        <p class="h6">Consectetur</p>
      </hgroup>
      <div class="box d-f fd-c jc-fe">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat duis auteri.</p>
        <p class="mbs-p">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.</p>
      </div>
      <figure class="box gb-v ib-is dbb-ft">
        <img
          src="/images/desktop-3x.png"
          srcset="
            /images/mobile-1x.png 360w,
            /images/mobile-2x.png 720w,
            /images/mobile-3x.png 1080w,
            /images/tablet-1x.png 495w,
            /images/tablet-2x.png 990w,
            /images/tablet-3x.png 1485w,
            /images/laptop-1x.png 835w,
            /images/laptop-2x.png 1670w,
            /images/laptop-3x.png 2505w,
            /images/desktop-1x.png 1024w,
            /images/desktop-2x.png 2048w,
            /images/desktop-3x.png 3072w"
          sizes="
            (max-width: 819px) 360px,
            (min-width: 820px) and (max-width: 1023px) 495px,
            (min-width: 1024px) and (max-width: 1599px) 835px,
            (min-width: 1600px) 1024px"
        >
        <figcaption>Lorem ipsum</figcaption>
      </figure>
    </div>
    <section class="box">
      <h1>h1 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti temporibus in perferendis nihil dolor consequuntur.</h1>
      <p class="mbs-p">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti temporibus in perferendis nihil dolor consequuntur explicabo ut sint officiis neque! Deleniti cum ducimus itaque distinctio in laboriosam odio, eos ad.</p>
      <h2 class="mbs-p">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti temporibus in perferendis nihil dolor consequuntur.</h2>
      <p class="mbs-p">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti temporibus in perferendis nihil dolor consequuntur explicabo ut sint officiis neque! Deleniti cum ducimus itaque distinctio in laboriosam odio, eos ad.</p>
      <h3 class="mbs-p">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti temporibus in perferendis nihil dolor consequuntur.</h3>
      <p class="mbs-p">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti temporibus in perferendis nihil dolor consequuntur explicabo ut sint officiis neque! Deleniti cum ducimus itaque distinctio in laboriosam odio, eos ad.</p>
      <h4 class="mbs-p">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti temporibus in perferendis nihil dolor consequuntur.</h4>
      <p class="mbs-p">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti temporibus in perferendis nihil dolor consequuntur explicabo ut sint officiis neque! Deleniti cum ducimus itaque distinctio in laboriosam odio, eos ad.</p>
      <h5 class="mbs-p">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti temporibus in perferendis nihil dolor consequuntur.</h5>
      <p class="mbs-p">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti temporibus in perferendis nihil dolor consequuntur explicabo ut sint officiis neque! Deleniti cum ducimus itaque distinctio in laboriosam odio, eos ad.</p>
      <h6 class="mbs-p">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti temporibus in perferendis nihil dolor consequuntur.</h6>
      <p class="mbs-p">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti temporibus in perferendis nihil dolor consequuntur explicabo ut sint officiis neque! Deleniti cum ducimus itaque distinctio in laboriosam odio, eos ad.</p>
    </section>
  </main>
  <%- include('includes/document/end.ejs') %>