<%- include('includes/document/head.ejs') %>
<title>Works</title>
<meta name="description" content="Firstname Lastname - consectetur adipiscing elit">
</head>
<body>
<%- include('includes/layout/header.ejs') %>
<main>
  <h2>Works</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.</p>
</main>
<%- include('includes/document/end.ejs') %>