<header class="header">
  <nav class="nav">
    <ul class="nav-list">
      <li class="nav-list__item">Settings</li>
      <li class="nav-list__item">Home</li>
      <li class="nav-list__item">Works</li>
      <li class="nav-list__item">To Top</li>
    </ul>
  </nav>
</header>