<header class="banner">
  <nav
    id="nav"
    aria-label="Main"
  >
    <button
      class="nav-toggler"
      aria-controls="nav"
      aria-expanded="false"
    >
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </button>
    <ul class="nav-list">
      <li>
        <a class="button" href="/">Home</a>
      </li>
      <li>
        <a class="button" href="/works">Works</a>
      </li>
    </ul>
  </nav>
</header>