<header class="banner">
  <nav>
    <ul>
      <li>
        <button class="button">Settings</button>
      </li>
      <li>
        <a class="button" href="/">Home</a>
      </li>
      <li>
        <a class="button" href="/works">Works</a>
      </li>
      <li>
        <button class="button">To Top</button>
      </li>
    </ul>
    <button>Menu</button>
  </nav>
</header>