<nav class="nav">
  <ul class="nav-list">
    <li class="nav-item">Settings</li>
    <li class="nav-item">Home</li>
    <li class="nav-item">Works</li>
    <li class="nav-item">To Top</li>
  </ul>
  <button class="nav-toggler">Menu</button>
</nav>