/* 🎨 Button
=================================================================================== */

/**
* General
*/

.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  block-size: 38px;
  padding-inline: 18px;
  border: 2px solid var(--color--tuatara);
  border-radius: 24px;
  background-color: var(--color--tuatara);
  line-height: 1.1;
  text-align: center;
  text-decoration: none;
  color: var(--color--white-rock);
}

.button svg {
  fill: var(--color--white-rock);
}

/**
* On hover
* We set styles for the hover event only for devices that support this.
*/

@media (pointer: fine) {

  .button:hover {
    background-color: var(--color--white-rock);
    color: var(--color--tuatara);
  }

  .button:hover svg {
    fill: var(--color--tuatara);
  }

}

/**
* On active/focus
*/

.button:active,
.button:focus-visible {
  background-color: var(--color--sail);
  color: var(--color--tuatara);
  outline: none;
}



/* 🎨 Nav
=================================================================================== */

/**
* List
*/

#nav ul {
  position: fixed;
  z-index: 20;
  display: flex;
  gap: 3px;
  padding: 2px;
  border-radius: 21px;
  background-color: var(--color--tuatara);
}

@media (max-width: 599px) {

  #nav ul {
    inset-block-end: 76px;
    inset-inline-start: calc(50% - 100px);
    flex-direction: column;
    inline-size: 200px;
    will-change: transform, opacity, visibility;
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
    transition:
      transform 0.6s cubic-bezier(.68,-0.55,.27,1.55),
      opacity 0.6s linear,
      visibility 0.3s linear;
  }
  
  #nav button[aria-expanded="false"] + ul {
    visibility: hidden;
    opacity: 0;
    transform: translateY(12px);
  }

}

@media (min-width: 600px) {

  #nav ul {
    inset-block-start: 4px;
    inset-inline-start: 50px;
  }

}

@media (min-width: 1250px) {

  #nav ul {
    inset-block-start: 16px;
    inset-inline-start: 73px;
  }

}

/**
* Links
*/

@media (max-width: 599px) {

  #nav ul .button {
    inline-size: 100%;
  }

}

/**
* Toggler
*/

#nav button {
  position: fixed;
  z-index: 20;
  inset-block-end: 26px;
  inset-inline-start: calc(50% - 34px);
}

@media (min-width: 600px) {

  #nav button {
    display: none;
  }

}



/* 🎨 Scene
=================================================================================== */

/**
* Container
*/

#scene {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-block-start: 24px;
  padding-block-end: 24px;
  overflow: hidden;
  transform-style: preserve-3d;
  transform: perspective(5000px);
}

@media (min-width: 600px) {

  #scene {
    padding-block-start: 36px;
    padding-block-end: 36px;
  }

}

@media (min-width: 1250px) {

  #scene {
    padding-block-start: 48px;
    padding-block-end: 48px;
  }

}

/**
* Image
*/

#scene img {
  will-change: transform;
  transform: translateZ(-100px);
  box-shadow: -20px 20px 25px -20px rgba(37, 36, 35, .4);
}

/**
* Figcaption
*/

#scene-name {
  position: absolute;
  inset-block-start: 50%;
  inset-inline-start: 0;
  inline-size: 100%;
  transform: translateY(-50%) translateZ(100px);
  font-family: var(--font-family-heading);
  text-align: center;
  font-size: 2.6rem;
  font-weight: 400;
}

@media (min-width: 600px) {

  #scene-name {
    font-size: 3.8rem;
  }

}

@media (min-width: 1024px) {

  #scene-name {
    font-size: 4.8rem;
  }

}

@media (min-width: 1250px) {

  #scene-name {
    font-size: 4.6rem;
  }

}

@media (min-width: 1250px) {

  #scene-name {
    font-size: 5.9rem;
  }

}

@media (min-width: 1600px) {

  #scene-name {
    font-size: 8.6rem;
  }

}

@media (min-width: 1900px) {

  #scene-name {
    font-size: 10rem;
  }

}

/**
* Letters
*/

#scene-name div {
  display: inline-block;
  margin-inline-start: 2px;
  margin-inline-end: 2px;
  will-change: transform, opacity, filter;
  opacity: 0;
  filter: blur(8px);
}

#scene-name span {
  display: inline-block;
  will-change: transform;
}

@media (min-width: 600px) {

  #scene-name div {
    margin-inline-start: 4px;
    margin-inline-end: 4px;
  }

}

@media (min-width: 1024px) {

  #scene-name div {
    margin-inline-start: 6px;
    margin-inline-end: 6px;
  }

}

@media (min-width: 1250px) {

  #scene-name div {
    margin-inline-start: 7px;
    margin-inline-end: 7px;
  }

}

@media (min-width: 1600px) {

  #scene-name div {
    margin-inline-start: 10px;
    margin-inline-end: 10px;
  }

}

@media (min-width: 1900px) {

  #scene-name div {
    margin-inline-start: 14px;
    margin-inline-end: 14px;
  }

}