/* 🎨 Button
=================================================================================== */

/**
* General
*/

.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  block-size: 38px;
  padding-inline: 18px;
  border: 2px solid var(--color--tuatara);
  border-radius: 24px;
  background-color: var(--color--tuatara);
  line-height: 1.1;
  text-align: center;
  text-decoration: none;
  color: var(--color--white-rock);
}

.button svg {
  fill: var(--color--white-rock);
}

/**
* On hover
* We set styles for the hover event only for devices that support this.
*/

@media (pointer: fine) {

  .button:hover {
    background-color: var(--color--white-rock);
    color: var(--color--tuatara);
  }

  .button:hover svg {
    fill: var(--color--tuatara);
  }

}

/**
* On active/focus
*/

.button:active,
.button:focus-visible {
  background-color: var(--color--sail);
  color: var(--color--tuatara);
  outline: none;
}



/* 🎨 Nav
=================================================================================== */

/**
* List
*/

#nav ul {
  position: fixed;
  display: flex;
  gap: 3px;
  padding: 2px;
  border-radius: 21px;
  background-color: var(--color--tuatara);
}

@media (max-width: 599px) {

  #nav ul {
    inset-block-end: 76px;
    inset-inline-start: calc(50% - 100px);
    flex-direction: column;
    inline-size: 200px;
    visibility: visible;
    opacity: 1;
    will-change: transform, opacity, visibility;
    transform: translateY(0);
    transition:
      transform 0.6s cubic-bezier(.68,-0.55,.27,1.55),
      opacity 0.6s linear,
      visibility 0.3s linear;
  }
  
  #nav button[aria-expanded="false"] + ul {
    opacity: 0;
    visibility: hidden;
    transform: translateY(12px);
  }

}

@media (min-width: 600px) {

  #nav ul {
    inset-block-start: 4px;
    inset-inline-start: 50px;
  }

}

@media (min-width: 1250px) {

  #nav ul {
    inset-block-start: 16px;
    inset-inline-start: 73px;
  }

}

/**
* Links
*/

@media (max-width: 599px) {

  #nav ul .button {
    inline-size: 100%;
  }

}

/**
* Toggler
*/

#nav button {
  position: fixed;
  inset-block-end: 26px;
  inset-inline-start: calc(50% - 34px);
}

@media (min-width: 600px) {

  #nav button {
    display: none;
  }

}