/* 🎨 Button
=================================================================================== */

/**
* General
*/

.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  block-size: 38px;
  padding-block: 0;
  padding-inline: 18px;
  border: 2px solid var(--color--tuatara);
  border-radius: 24px;
  background-color: var(--color--tuatara);
  line-height: 1.1;
  text-align: center;
  text-decoration: none;
  color: var(--color--white-rock);
  cursor: pointer;
}

/**
* On hover
*/

@media (pointer: fine) {

  .button:hover {
    background-color: var(--color--white-rock);
    color: var(--color--tuatara);
  }

}



/* 🎨 Nav
=================================================================================== */

/**
* List
*/

@media (max-width: 599px) {

  /* .nav-list {
    visibility: visible;
  } */
  
  .nav-toggler[aria-expanded="false"] + .nav-list {
    opacity: 0;
    visibility: hidden;
  }

}

/**
* Button
*/

@media (min-width: 600px) {

  .nav-toggler {
    display: none;
  }

}