/* 🎨 Grid Introduction
=================================================================================== */

/**
* Items
*/

.grid-introduction hgroup {
  grid-area: hgroup;
}

.grid-introduction div {
  grid-area: main;
}

.grid-introduction figure {
  grid-area: figure;
}

/**
* Container
*/

.grid-introduction {
  display: grid;
  grid-template-columns: minmax(100%, 100%);
  grid-template-areas:
  'hgroup'
  'figure'
  'main';
}

@media (min-width: 825px) {

  .grid-introduction {
    grid-template-columns: 35% 65%;
    grid-template-areas:
    'hgroup figure'
    'main figure';
  }

}

@media (min-width: 1600px) {

  .grid-introduction {
    grid-template-columns: 25% 75%;
  }

}