/* 🎨 Body
=================================================================================== */

/**
* General
*/

body {
  color: var(--color--tuatara);
  background-color: var(--color--white-rock);
}



/* 🎨 Page frame
=================================================================================== */

/**
* General
*/

body {
  padding: 16px;
}

body::before,
body::after {
  content: '';
  display: block;
  position: fixed;
  top: 14px;
  width: 14px;
  height: calc(100% - 28px);
  background-color: var(--color--white-rock);
}

body::before {
  right: 0;
}

body::after {
  left: 0;
}

html::before,
html::after {
  content: '';
  display: block;
  position: fixed;
  left: 14px;
  width: calc(100% - 28px);
  height: 14px;
  background-color: var(--color--white-rock);
}

html::before {
  top: 0;
}

html::after {
  bottom: 0;
}

@media (min-width: 600px) {

  body {
    padding: 30px;
  }

  body::before,
  body::after {
    top: 28px;
    width: 28px;
    height: calc(100% - 56px);
  }

  html::before,
  html::after {
    left: 28px;
    width: calc(100% - 56px);
    height: 28px;
  }

}

@media (min-width: 1250px) {

  body {
    padding: 44px;
  }

  body::before,
  body::after {
    top: 42px;
    width: 42px;
    height: calc(100% - 84px);
  }

  html::before,
  html::after {
    left: 42px;
    width: calc(100% - 84px);
    height: 42px;
  }
  
}

@media (min-width: 1600px) {

  body {
    padding: 58px;
  }

  body::before,
  body::after {
    top: 56px;
    width: 56px;
    height: calc(100% - 112px);
  }

  html::before,
  html::after {
    left: 56px;
    width: calc(100% - 112px);
    height: 56px;
  }
  
}



/* 🎨 Page border
=================================================================================== */

/**
* Animation
*/

@keyframes border-in {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

/**
* General
*/

.banner::before,
.banner::after {
  content: '';
  display: block;
  position: fixed;
  left: 14px;
  width: calc(100% - 28px);
  height: 2px;
  background-color: #000;
  animation: border-in 0.8s 0.6s both cubic-bezier(.17,.67,.83,.67);
}

.banner::before {
  top: 14px;
}

.banner::after {
  bottom: 14px;
}

main::before,
main::after {
  content: '';
  display: block;
  position: fixed;
  top: 14px;
  width: 2px;
  height: calc(100% - 28px);
  background-color: #000;
  animation: border-in 0.8s 0.6s both cubic-bezier(.17,.67,.83,.67);
}

main::before {
  right: 14px;
}

main::after {
  left: 14px;
}

@media (min-width: 600px) {

  .banner::before,
  .banner::after {
    left: 28px;
    width: calc(100% - 56px);
  }

  .banner::before {
    top: 28px;
  }
  
  .banner::after {
    bottom: 28px;
  }

  main::before,
  main::after {
    top: 28px;
    height: calc(100% - 56px);
  }

  main::before {
    right: 28px;
  }
  
  main::after {
    left: 28px;
  }

}

@media (min-width: 1250px) {

  .banner::before,
  .banner::after {
    left: 42px;
    width: calc(100% - 84px);
  }

  .banner::before {
    top: 42px;
  }
  
  .banner::after {
    bottom: 42px;
  }

  main::before,
  main::after {
    top: 42px;
    height: calc(100% - 84px);
  }

  main::before {
    right: 42px;
  }
  
  main::after {
    left: 42px;
  }

}

@media (min-width: 1600px) {

  .banner::before,
  .banner::after {
    left: 56px;
    width: calc(100% - 112px);
  }

  .banner::before {
    top: 56px;
  }
  
  .banner::after {
    bottom: 56px;
  }

  main::before,
  main::after {
    top: 56px;
    height: calc(100% - 112px);
  }

  main::before {
    right: 56px;
  }
  
  main::after {
    left: 56px;
  }

}