/* 🎨 Resets
=================================================================================== */

/**
* Sets the box sizing for all elements
*/

*, *:before, *:after {
  box-sizing: border-box;
}

/**
* Resets button styles
*/

button {
  padding: 0;
  box-shadow: none;
  cursor: pointer;
}

button:focus,
button:focus-visible {
  outline: none;
}

/**
* Resets list styles
*/

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

/**
* Resets img styles
*/

img {
  display: block;
  max-inline-size: 100%;
}

/**
* Resets figure styles
*/

figure {
  margin: 0;
}

/**
* Resets text margin
*/

body :is(p, h1, h2, h3, h4, h5, h6) {
  margin: 0;
}



/* 🎨 Helpers
=================================================================================== */

/**
* Text margin
*/

body .mbs-p {
  margin-block-start: 10px;
}

@media (min-width: 1250px) {

  body .mbs-p {
    margin-block-start: 12px;
  }

}

/**
* Text font family
*/

body .ff-g {
  font-family: var(--font-family-general);
}

body .ff-h {
  font-family: var(--font-family-heading);
}

/**
* Text font size
*/

body .fs-b {
  font-size: 1.2rem;
}

body .fs-eb {
  font-size: 1.33rem;
}

body .fs-s {
  font-size: .8rem;
}

body .fs-es {
  font-size: .67rem;
}

/**
* Text weight
*/

body .fw-400 {
  font-weight: 400;
}

body .fw-500 {
  font-weight: 500;
}

/**
* Display
*/

body .d-f {
  display: flex;
}

/**
* Aligned
*/

body .ai-c {
  align-items: center
}

body .ai-fe {
  align-items: flex-end
}

body .jc-c {
  justify-content: center
}

body .jc-fe {
  justify-content: flex-end
}

body .fd-c {
  flex-direction: column
}

/**
* Pseudo-elements display
*/

body .dbb::before {
  display: block;
}

body .dba::after {
  display: block;
}

@media (min-width: 820px) {

  body .dbb-ft::before {
    display: block;
  }

  body .dba-ft::after {
    display: block;
  }

}

/**
* Pseudo-elements position
*/

body .ib-bs::before,
body .ia-bs::after {
  inset-inline-start: 0;
  inset-block-start: 0;
}

body .ib-ie::before,
body .ia-ie::after {
  inset-inline-end: 0;
  inset-block-start: 0;
}

body .ib-be::before,
body .ia-be::after {
  inset-inline-start: 0;
  inset-block-end: 0;
}

body .ib-is::before,
body .ia-is::after {
  inset-inline-start: 0;
  inset-block-start: 0;
}



/* 🎨 Body
=================================================================================== */

/**
* General
*/

body {
  color: var(--color--tuatara);
  background-color: var(--color--white-rock);
}



/* 🎨 Scrollbar
=================================================================================== */

/**
* General
*/



/* 🎨 Page frame
=================================================================================== */

/**
* General
*/

body {
  padding: 14px;
}

body::before,
body::after {
  content: '';
  position: fixed;
  z-index: 10;
  inset-block-start: 12px;
  display: block;
  inline-size: 12px;
  block-size: calc(100% - 24px);
  background-color: var(--color--white-rock);
}

body::before {
  inset-inline-end: 0;
}

body::after {
  inset-inline-start: 0;
}

html::before,
html::after {
  content: '';
  position: fixed;
  z-index: 10;
  inset-inline-start: 12px;
  display: block;
  inline-size: calc(100% - 24px);
  block-size: 12px;
  background-color: var(--color--white-rock);
}

html::before {
  inset-block-start: 0;
}

html::after {
  inset-block-end: 0;
}

@media (min-width: 600px) {

  body {
    padding: 26px;
  }

  body::before,
  body::after {
    inset-block-start: 24px;
    inline-size: 24px;
    block-size: calc(100% - 48px);
  }

  html::before,
  html::after {
    inset-inline-start: 24px;
    inline-size: calc(100% - 48px);
    block-size: 24px;
  }

}

@media (min-width: 1250px) {

  body {
    padding: 38px;
  }

  body::before,
  body::after {
    inset-block-start: 36px;
    inline-size: 36px;
    block-size: calc(100% - 72px);
  }

  html::before,
  html::after {
    inset-inline-start: 36px;
    inline-size: calc(100% - 72px);
    block-size: 36px;
  }
  
}



/* 🎨 Page border
=================================================================================== */

/**
* Animation
*/

@keyframes scale-in {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

/**
* General
*/

.banner::before,
.banner::after {
  content: '';
  position: fixed;
  z-index: 10;
  inset-inline-start: 12px;
  display: block;
  inline-size: calc(100% - 24px);
  block-size: 2px;
  background-color: #000;
  animation: scale-in 0.8s 0.6s both cubic-bezier(.17,.67,.83,.67);
}

.banner::before {
  inset-block-start: 12px;
}

.banner::after {
  inset-block-end: 12px;
}

main::before,
main::after {
  content: '';
  position: fixed;
  z-index: 10;
  inset-block-start: 12px;
  display: block;
  inline-size: 2px;
  block-size: calc(100% - 24px);
  background-color: var(--color--tuatara);
  animation: scale-in 0.8s 0.6s both cubic-bezier(.17,.67,.83,.67);
}

main::before {
  inset-inline-end: 12px;
}

main::after {
  inset-inline-start: 12px;
}

@media (min-width: 600px) {

  .banner::before,
  .banner::after {
    inset-inline-start: 24px;
    inline-size: calc(100% - 48px);
  }

  .banner::before {
    inset-block-start: 24px;
  }
  
  .banner::after {
    inset-block-end: 24px;
  }

  main::before,
  main::after {
    inset-block-start: 24px;
    block-size: calc(100% - 48px);
  }

  main::before {
    inset-inline-end: 24px;
  }
  
  main::after {
    inset-inline-start: 24px;
  }

}

@media (min-width: 1250px) {

  .banner::before,
  .banner::after {
    inset-inline-start: 36px;
    inline-size: calc(100% - 72px);
  }

  .banner::before {
    inset-block-start: 36px;
  }
  
  .banner::after {
    inset-block-end: 36px;
  }

  main::before,
  main::after {
    inset-block-start: 36px;
    block-size: calc(100% - 72px);
  }

  main::before {
    inset-inline-end: 36px;
  }
  
  main::after {
    inset-inline-start: 36px;
  }

}



/* 🎨 Growing border
=================================================================================== */

/**
* Genral
*/

.gb-v,
.gb-h {
  position: relative;
}

.gb-v::before,
.gb-h::after {
  content: '';
  position: absolute;
  display: none;
  background-color: var(--color--tuatara);
  animation: scale-in 0.8s 0.6s both cubic-bezier(.17,.67,.83,.67);
}

.gb-v::before {
  inline-size: 2px;
  block-size: 100%;
}

.gb-h::after {
  inline-size: 100%;
  block-size: 2px;
}



/* 🎨 Grid Introduction
=================================================================================== */

/**
* Items
*/

.grid-intro hgroup {
  grid-area: hgroup;
}

.grid-intro div {
  grid-area: main;
}

.grid-intro figure {
  grid-area: figure;
}

/**
* Container
*/

.grid-intro {
  display: grid;
  grid-template-columns: 100%;
  grid-template-areas:
  'hgroup'
  'figure'
  'main';
}

@media (min-width: 820px) {

  .grid-intro {
    grid-template-columns: 35% 65%;
    grid-template-areas:
    'hgroup figure'
    'main figure';
  }

}

@media (min-width: 1600px) {

  .grid-intro {
    grid-template-columns: 25% 75%;
  }

}



/* 🎨 Box
=================================================================================== */

/**
* General
*/

.box {
  padding: 12px;
}

@media (min-width: 600px) {
  .box {
    padding: 24px;
  }
}

@media (min-width: 1250px) {
  .box {
    padding: 36px;
  }
}