/* 🎨 Patterns
=================================================================================== */

/**
* Pattern #1
*/

.p1-b::before,
.p1-a::after {
  --s: 4px; /* control the size */
  --c: #0000 75%,var(--color--tuatara) 0;
  --g1: conic-gradient(at 75% 25%,var(--c));
  --g2: conic-gradient(at 25% 75%,var(--c));
  background: 
    var(--g1),var(--g1) var(--s) var(--s),
    var(--g2),var(--g2) var(--s) var(--s) var(--color--white-rock);
  background-size: calc(2*var(--s)) calc(2*var(--s));
}